@import './main.scss';

.content {
    // padding-top: 67px;
    border: 20px solid $lightShades;
    border-top: 0;

    @media screen and (min-width: 760px) {
        border: 40px solid $lightShades;
        // padding-top: px;
    }
}

section {
    display: flex;
    justify-content: space-around;
    height: 400px;
    position: relative;

    &.banner {
        flex-direction: column;
        align-items: center;
        height: calc(100vh - 40px);
        font-family: Kielo;

        @media screen and (min-width: 760px) {
            height: calc(100vh - 80px);
        }

        #typewriter {
            color: $mainBrand;
            font-size: 3rem;

            @media screen and (min-width: 460px) {
                font-size: 4rem;
            }
            
            @media screen and (min-width: 760px) {
                font-size: 8rem;
            }
        }
    }
}

div {
    .container {
        flex: 1;
        background-color: $lightShades;
        border-radius: 4px;
        height: 80%;
        max-width: 200px;
    }
}
