@import './main.scss';

.content {
    margin: 40px;
}

section {
    display: flex;
    justify-content: space-around;
    height: 400px;
    position: relative;

    .about {
        min-height: 300px;
    }
}

div {
    .container {
        flex: 1;
        background-color: $lightShades;
        border-radius: 4px;
        height: 80%;
        max-width: 200px;
    }
}
