@font-face {
    font-family: "Kielo";
    src: url("./../assets/fonts/Kielo-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Rentukka";
    src: url("./../assets/fonts/Rentukka-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Anson";
    src: url("./../assets/fonts/Anson-Regular.otf") format("opentype");
}
