@import url("https://fonts.googleapis.com/css?family=Lato:100,400");

// Color palette
$background: #FBFBFB;

body {
    background-color: $background;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
}
