@import url("https://fonts.googleapis.com/css?family=Lato:100,400");

// Color palette
$background: #FBFBFB;
$lightShades: #E4E4E4;
$lightAccent: #797FA4;
$mainBrand: #843744;
$darkAccent: #C17A4F;
$darkShades: #21293F;

body {
    background-color: $darkShades;
    font-family: Lato, Helvetica, sans-serif;
    margin: 0;
}
