@import './main.scss';

.navigation {
    background-color: $lightShades;
    color: black;
    display: flex;
    justify-content: space-between;
    min-height: 68px;
    overflow: hidden;
    padding: 10px 40px;
    position: fixed;
    top: 0;
    transition: height .3s ease-in;
    width: 100%;
    z-index: 1;

    .name-container .name {
        flex: 1;
        color: $mainBrand;
        display: inline;
        font-size: 40px;
        font-weight: 100;
        font-family: Kielo;
    }

    &-buttons {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: space-around;
        max-width: 400px;
        text-align: center;

        button {
            background: transparent;
            border: none;
            flex: 1;
            font-family: 'Rentukka', 'Helvetica';
            font-size: 16px;
            font-weight: 100;
            height: 80%;
            max-width: 120px;
            transform: scale(1.0);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                background: $mainBrand;
                border-radius: 4px;
                color: white;
            }
        }
    }
}

footer {
    background-color: $lightShades;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    min-height: 68px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 0 20px;
    

}
